.container {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  height: calc(100vh - 60px);
}

.contentContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .contentContainer {
    padding: 0 21px;
  }
}

.blobsContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.blob {
  position: absolute;
  width: 12vw;
}

.blob1 {
  top: -5%;
  left: 5%;
}

.blob2 {
  top: 0;
  left: 40%;
}

.blob3 {
  top: 5%;
  left: 80%;
}

.blob4 {
  top: 60%;
  left: 80%;
}

.blob5 {
  top: 50%;
  left: 50%;
}

.blob6 {
  top: 70%;
  left: 10%;
}
