name: 'Release'
on:
  push:
    branches:
      - main

jobs:
  release:
    name: 'Release'
    runs-on: ubuntu-latest
    env:
      NODE_VERSION: 12.x
    steps:
      - name: 'Git checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false

      # Beginning of yarn setup, keep in sync between all workflows
      - name: Use node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2.1.5
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org/ # Needed for auth
      - name: 'Use cached node_modules'
        id: cache-modules
        uses: actions/cache@v2.1.4
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-v${{ matrix.node-version }}-node_modules-${{ hashFiles('yarn.lock', '**/package.json') }}
      - name: 'Find location of global yarn cache'
        id: yarn-cache
        if: steps.cache-modules.outputs.cache-hit != 'true'
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - name: 'Cache global yarn cache'
        uses: actions/cache@v2.1.4
        if: steps.cache-modules.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - name: 'Install dependency'
        run: yarn install --frozen-lockfile
        # End of yarn setup

      - name: 'Semantic release'
        env:
          GH_TOKEN: ${{ secrets.SEMANTIC_RELEASE_PR }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release

      - name: 'Create update dev PR'
        uses: peter-evans/create-pull-request@v3
        with:
          base: dev
          branch: 'chore/bump-dev-changelog'
          commit-message: 'chore: bump changelog'
          delete-branch: true
          title: 'Bump dev CHANGELOG'
      - name: 'Check created PR output'
        run: |
          echo "Bump Dev Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
